.menu{
    background: #337ab7;
    display:inline-block;
    white-space: nowrap;
    width: 40px;
    transition: width 1s;
    margin-top: -20px;
    height: 100vh;
    
}

.teste{
    margin: auto;
    padding: 0px;
}

.menu:active{
    width: 100%;
}

.menu:hover{
    width: 100%;
}

.item a{
    overflow: hidden;
    height: 50px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.item > a{
    text-decoration: none;
}

.item a:hover{
    background-color: #ccc;
    opacity: 0.7;
}

.menu .glyphicon{
    margin: 14px;
    width: 15px;
    color:#fff;
}

.table > tbody > tr:hover{
    background-color: cyan;
}

.bottom{
    bottom: 0px;
    position: absolute;
}

@-webkit-keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn{
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}